fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
google-generativeai
openai
passlib[bcrypt]
python-jose[cryptography]
langchain
pypdf
python-multipart
pgvector
PyJWT
psycopg2-binary
Pillow
gunicorn
python-dotenv
